<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Groupomédia </title>    
    <meta name="description" content="Groupomania, réseau social pour les employés de l'entreprise du même nom.">
    <link rel="stylesheet" href="css/style.css">



</head>

<body>
    <header>
        <a id='logo' href='index.html'> <img src="logos/icon-left-font-monochrome-black.svg" alt="logo Groupomania" /></a>
        <nav>
            <a href="login.html">Connexion |</a>
            <a href="signup.html">| Inscription</a>
        </nav>
    </header>


</body>


</html>