 /* GLOBAL */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21
}
body {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
h1{
  padding: 16px;
}
/* HEADER */
header {
  background-color: #fff;
  padding: 20px;
  color: #261624;
  box-shadow: 3px 5px 5px #616161;
}

header img{
    display: block;
    margin: 0 auto 20px auto;
    width: 260px;
    background-color: #fff;
}

header nav {
  display: flex;
  justify-content: flex-end;
  background-color: inherit;
}

header a{
  background-color: #fff;
}

/* FORM
/* form {
    margin-top: 100px;
  } */
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  div.btn {
    display: flex;
    justify-content: center;
       
  }
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .validbtn {
     background-color: #4CAF50;  
     margin-right: 8px; 
  }
  .cancelbtn {
    background-color: #f44336;
    margin-left: 8px; 
  }

  .container {
    padding: 16px;
  }


@media all and (min-width: 768px) {
    header img{
      display: block;
      margin: 0 auto 20px auto;
      width: auto;
      background-color: #fff;
  }
}